- # Introduction to Variables
- # Declaring and Assigning Variable
- # Naming Conventions
- # Understanding Variable Types
- # Type Checking and Converion
- # Dynamic Typing
- # Practical Examples and Common Errors

In [ ]:
a=100

In [1]:
## Declaring and assigning variables

age = 21
height = 5.6
name = "Shyam"
is_student = True

## printng the variables

print("age : ", age)
print("height : ", height)
print("name : ", name)

age :  21
height :  5.6
name :  Shyam

In [ ]:
## Naming convetion
## Variable name should be descriptive
## They must always start with a letter or and '_' and can contain letter , number and underscores
## variable names are case sensitive

## valid variable name

first_name = "Shyamendra"
last_name = "Hazra"

In [3]:
# Invalid variable names
# 2age = 20;
# first-name = "Hary"
# @last_name = "sen"

In [4]:
# case sensitivity
name = "Shyam"
Name = "Hazra"

name == Name

False

In [7]:
## Type conversion 

age = 25
print(age)
print(type(age))

age = str(age)
print(age)
print(type(age))

print(height)
print(type(height))

height = int(height)
print(height)
print(type(height))

height = float(height)
print(height)
print(type(height))

25
<class 'int'>
25
<class 'str'>
5.6
<class 'float'>
5
<class 'int'>
5.0
<class 'float'>

In [9]:
# Dynamic Typing
# Python allow type casting at runtime


val = 10
print(val, type(val))


val = "Hello"
print(val, type(val))

val = 3.17
print(val, type(val))

10 <class 'int'>
Hello <class 'str'>
3.17 <class 'float'>

In [12]:
# Input 
age = input("What is your age")
print(age, type(age))

age = int(input("What is your age again?"))
print(age, type(age))

22 <class 'str'>
21 <class 'int'>

In [13]:
# Simple calculator in python

num_one = float(input("Enter Num one :: "))
num_two = float(input("Enter Num two :: "))

sum = num_one + num_two
difference = num_one - num_two
multiplication = num_one * num_two
division  = num_one / num_two

print("sum :: ", sum)
print("difference :: ", difference)
print("multiplication :: ", multiplication)
print("division :: ", division)

sum ::  43.0
difference ::  1.0
multiplication ::  462.0
division ::  1.0476190476190477